h3,p {
font-family: 'Lato', sans-serif;
}
#wrapper {
width: 50%;
    margin: 0 auto;
	background-color:#F2F2F2;
}
#body {
width:75%;
margin: 0 auto;
height:100vh;
background-color:#FAFAFA;
}
#button {
background-color:#0185FC;
width:200px;
height: 50px;
margin:0 auto;
text-align:center;
}
a {
font-family: 'Lato', sans-serif;
text-decoration:none;
}
header {
font-family: 'Lato', sans-serif;
font-size:30px;
text-align:center;
}
#accordion {
width:42%;
}